<div class="blog-thumbnail">

  <div class="card-body">

    <h4 class="card-title">
      <img src=<%=a.avatar %> alt="" align="right" width="40%" height="80%">
      <!-- Đường dẫn đến id của blog -->
    	<%= link_to blog_path(a.id), class: "card-title" do %>
    		<%= a.title %>
    	<% end %>
    	</h4>

    <h6 class="card-subtitle mb-2 text-muted">Author: <%= a.user.name %></h6>

    <p class="card-text">
    	<%= a.body %>
    	</p>

      <h6 class="card-subtitle mb-2 text-muted">Views: <%= a.view %></h6>

    <%= link_to blog_path(a.id), class: 'card-link', remote: true, method: :delete do %>
    	Delete
    <% end %>
    </div>

</div>
